@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-text-preview {
        @apply max-h-[3.5rem] relative overflow-y-hidden;
    }

    .card-text-preview-overlay {
        @apply absolute bottom-0 left-0 right-0 top-7 bg-gradient-to-b from-transparent pointer-events-none;
    }

    .form {
        @apply max-w-[640px] ml-auto mr-auto mt-4 mb-4 w-full;
    }

    .h1 {
        @apply text-2xl font-bold mb-6;
    }

    .h2 {
        @apply text-xl font-bold mb-5;
    }

    .h3 {
        @apply text-lg font-bold mb-4;
    }
}

pre:has(.hljs) {
    padding: 0;
}

.hljs {
    background: unset !important;
}

.loading-overlay {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    inset: 0;
    position: fixed;
    transition:
        visibility 0s 0.3s,
        background-color 0.3s;
    z-index: 1000;
}

.loading-overlay .pulse {
    animation: pulse 1.5s infinite;
    bottom: 14px;
    height: 100px;
    left: 14px;
    margin: auto;
    width: 100px;
}

.loading-overlay figure {
    display: block;
    height: 128px;
    position: relative;
    width: 128px;
}

.loading-overlay img {
    display: block;
    height: auto;
    width: 100%;
}

.loading-overlay img,
.loading-overlay .pulse {
    position: absolute;
    transition:
        visibility 0s 0.3s,
        opacity 0.3s;
}

.loading-overlay.is-done {
    background-color: #0000;
    visibility: hidden;
}

.loading-overlay.is-done img,
.loading-overlay.is-done .pulse {
    opacity: 0;
    visibility: hidden;
}

.zoom-75 {
    zoom: 0.75;
}

@keyframes pulse {
    0% {
        background-color: #333;
        box-shadow: 0 0 0 0px #333;
    }
    100% {
        background-color: #3333;
        box-shadow: 0 0 0 64px #3333;
    }
}
